<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Laboratorijske grupe | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Laboratorijske grupe <a th:href="@{/create_user_group}" class="btn btn-primary">Dodaj</a></h1>
    <table class="table"  th:if="${userGroups.size() > 0}">
        <thead class="thead-default">
            <tr>
                <th>Ime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userGroup: ${userGroups}">
                <td th:text="${userGroup.name}"></td>
                <td>
                    <a th:href="@{/user_group/{id}(id=${userGroup.id})}" class="btn btn-secondary">Prikaz</a>
                    <a th:href="@{/edit_user_group/{id}(id=${userGroup.id})}" class="btn btn-primary">Uredi</a>
                    <form th:action="@{/delete_user_group/{id}(id=${userGroup.id})}" method="post" class="form-within-table form-inline" data-app="confirmSubmit">
                        <button type="submit" class="btn btn-danger">Izbriši</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 class="no-items-notice" th:if="${userGroups.size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema dodanih laboratorijskih grupa.
    </h4>
</div>
</body>
</html>
