<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle" th:inline="text"><span th:remove="tag" th:text="${userGroup.name}"></span> | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <div class="card">
        <h3 class="card-header" th:inline="text">
            [[ ${userGroup.name} ]] <a th:href="@{/edit_user_group/{id}(id=${userGroup.id})}" class="btn btn-primary">Uredi</a>
        </h3>
        <div class="card-block">
            <table class="table">
               <thead class="thead-default">
                   <tr>
                       <th>Ime</th>
                       <th>JMBAG</th>
                       <th>Uloga</th>
                       <th></th>
                   </tr>
               </thead>
                <tbody>
                    <tr th:each="user: ${userGroup.Users}">
                        <td th:text="${user.getFullName()}"></td>
                        <td th:text="${user.JMBAG}"></td>
                        <td th:text="${user.role}"></td>
                        <td>
                            <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-secondary">Prikaz</a>
                            <form th:action="@{/delete_user_user_group/{userGroupId}/{userId}(userGroupId=${userGroup.id}, userId=${user.id})}" method="post" class="form-within-table form-inline">
                                <button type="submit" class="btn btn-danger">Makni iz grupe</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
