<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Uredi zadatak assignment | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Uredi zadatak</h1>
    <div class="alert alert-danger" th:if="${error} != null" th:text="${error}">
    </div>
    <form th:action="@{/edit_assignment/{id}(id=${id})}" th:object="${assignmentForm}" method="post" enctype="multipart/form-data" >
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="name">Ime</label>
                    <input type="text" class="form-control" id="name" placeholder="Unesi ime" th:field="*{name}"/>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="exercise">Laboratorijska vježba</label>
                    <select th:field="*{exercise.id}" id="exercise" class="form-control">
                        <option value="">Odaberi</option>
                        <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('exercise.id')}" th:errors="*{exercise.id}"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Opis</label>
            <textarea class="form-control" id="description" placeholder="Unesi opis" th:field="*{description}"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="testsFile">Izvršna datoteka testova</label>
                    <input type="file" class="form-control" id="testsFile" name="testsFile" />
                    <p class="form-text text-muted">
                        Samo JAR datoteke su dopuštene. Maksimalno: <strong>5MB</strong>.
                    </p>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="testsSourceFile">Izvorni kod testova</label>
                    <input type="file" class="form-control" id="testsSourceFile" name="testsSourceFile" />
                    <p class="form-text text-muted">
                        Samo ZIP datoteke su dopuštene. Maksimalno: <strong>5MB</strong>.
                    </p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</div>
</body>
</html>
