<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Assignments | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Zadaci <a th:href="@{/create_assignment}" class="btn btn-primary">Dodaj</a></h1>
    <table class="table" th:if="${assignments.size()} > 0">
        <thead class="thead-default">
            <tr>
                <th>Ime</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="assignment: ${assignments}">
                <td th:text="${assignment.name}"></td>
                <td th:text="${assignment.description}"></td>
                <td>
                    <a th:href="@{/assignment/{id}(id=${assignment.id})}" class="btn btn-secondary">Prikaz</a>
                    <a th:href="@{/edit_assignment/{id}(id=${assignment.id})}" class="btn btn-primary">Uredi</a>
                    <form th:action="@{/delete_assignment/{id}(id=${assignment.id})}" method="post" class="form-within-table form-inline" data-app="confirmSubmit">
                        <button type="submit" class="btn btn-danger">Izbriši</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 class="no-items-notice" th:if="${assignments.size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema dodanih zadataka.
    </h4>
</div>
</body>
</html>
