<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle"><span th:remove="tag" th:text="${assignment.exercise.name}"></span>/<span th:remove="tag" th:text="${assignment.name}"></span> | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <div class="card">
        <h3 class="card-header" th:inline="text">
            [[ ${assignment.exercise.name} ]]/[[ ${assignment.name} ]]
            <a th:href="@{/edit_assignment/{id}(id=${assignment.id})}" class="btn btn-primary"
               sec:authorize="hasAuthority('ADMIN')">Uredi</a>
        </h3>
        <div class="card-block">
            <h4 class="card-title" th:text="${assignment.description}"></h4>
            <p class="card-text">
                <p>Ovdje možete vidjeti rezultate testova pokrenutih nad prenesenim rješenjima.</p>
                <a href="#" th:href="@{/upload/{id}(id=${assignment.id})}" class="btn btn-primary">
                    Prenesi rješenje
                </a>
            </p>
        </div>
    </div>
    <br/>
    <table class="table" th:if="${uploads.size() > 0}">
        <thead class="thead-default">
            <tr>
                <th sec:authorize="hasAuthority('ADMIN')">Korisnik</th>
                <th>Neuspješni / uspješni testovi</th>
                <th>Vrijeme izvršavanja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="upload : ${uploads}">
                <div th:if ="${upload.testResult} != null">
                    <td th:text="${upload.testResult.user}" sec:authorize="hasAuthority('ADMIN')"></td>
                    <td class="test-status">
                        <span class="badge badge-danger" th:inline="text">[[ ${upload.testResult.testsFailed} ]] neuspješno</span>
                        <span class="badge badge-success" th:inline="text">[[ ${upload.testResult.testsSuccessful} ]] uspješno</span>
                    </td>
                    <td th:text="${#calendars.format(upload.testResult.getCalendarTime(), 'dd. MM. yyyy. HH:mm')}"></td>
                    <td>
                        <a href="#" class="btn btn-primary" data-app="testResultsModal" th:attr="data-id=${upload.testResult.id}" th:if="${upload.testResult.testsFailed} != 0">
                            Rezultati
                        </a>
                        <a th:href="@{/view_source/{id}(id=${upload.id})}" class="btn btn-secondary" sec:authorize="hasAuthority('ADMIN')">
                            Izvorni kod
                        </a>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    <h4 class="no-items-notice" th:if="${uploads.size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema rezultata.
    </h4>
</div>
<div id="footer-content">
    <div th:include="fragments/testResultsModal :: content"></div>
</div>
</body>
</html>
