<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="content">
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/" th:href="@{/}">Astra</a>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' || #httpServletRequest.getRequestURI() == '/home' ? 'active':''}">
                            <a class="nav-link" th:href="@{/}" href="/">Početna</a>
                        </li>
                        <div th:remove="tag" th:if="${#httpServletRequest.remoteUser == null and error == null}">
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}">
                                <a class="nav-link" th:href="@{/registration}" href="/registration">Registracija</a>
                            </li>
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
                                <a class="nav-link" th:href="@{/login}" href="/login">Prijava</a>
                            </li>
                        </div>
                        <div th:remove="tag" sec:authorize="hasAuthority('ADMIN')">
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/exercises' ? 'active':''}">
                                <a class="nav-link" th:href="@{/exercises}" href="/exercises">Laboratorijske vježbe</a>
                            </li>
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/assignments' ? 'active':''}">
                                <a class="nav-link" th:href="@{/assignments}" href="/assignments">Zadaci</a>
                            </li>
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}">
                                <a class="nav-link" th:href="@{/users}" href="/users">Studenti</a>
                            </li>
                            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/user_groups' ? 'active':''}">
                                <a class="nav-link" th:href="@{/user_groups}" href="/user_groups">Laboratorijske grupe</a>
                            </li>
                        </div>
                    </ul>
                    <ul th:if="${#httpServletRequest.remoteUser != null}" class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white"
                               th:href="@{/user/{id}(id=${#authentication.principal.id})}"
                               href="#"
                               th:text="${#authentication.principal.fullName}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}" href="/logout">Odjavi se</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>