<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headFragment">
    <meta charset="UTF-8" />
    <title th:include=":: #pageTitle">Astra</title>
    <link rel="stylesheet" href="/css/app.css" th:href="@{/css/app.css}"></link>
</head>
<body th:fragment="body">
    <div th:include="fragments/header :: content"></div>
    <div class="container">
        <div id="messages"></div>
        <div th:include=":: #main" class="main"></div>
        <div th:include=":: #footer-content" class="footer-content"></div>
    </div>
    <div th:include="fragments/footer :: content"></div>
    <script src="/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
