<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Uredi studenta | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Masovno dodavanje studenata</h1>
    <p>Unesite popis studenata odvojenih novim retkom u sljedećem formatu</p>
    <p><code>korisnicko_ime,lozinka,ime,prezime,JMBAG</code></p>
    <form th:action="@{/create_user_bulk}" th:object="${userBulkForm}" method="post">
        <div class="form-group">
            <label for="userList">Popis studenata</label>
            <textarea class="form-control" id="userList" placeholder="Unesi popis studenata" th:field="*{userList}" cols="30" rows="10"></textarea>
            <div th:if="${#fields.hasErrors('userList')}" th:errors="*{userList}"></div>
        </div>
        <div class="form-group">
            <label for="userGroup">Laboratorijska grupa</label>
            <select th:field="*{userGroupId}" id="userGroup" class="form-control">
                <option value="">Odaberi</option>
                <option th:each="userGroupItem : ${userGroups}" th:value="${userGroupItem.id}" th:text="${userGroupItem.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('userGroupId')}" th:errors="*{userGroupId}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
</body>
</html>
