<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Uredi studenta | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Uredi studenta</h1>
    <form th:action="@{/edit_user/{id}(id=${id})}" th:object="${userForm}" method="post">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="firstName">Ime</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Unesi ime" th:field="*{firstName}"/>
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="firstName">Prezime</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Unesi prezime" th:field="*{lastName}"/>
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="username">Korisničko ime</label>
                    <input type="text" class="form-control" id="username" placeholder="Unesi korisničko ime" th:field="*{username}"/>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="JMBAG">JMBAG</label>
                    <input type="text" class="form-control" id="JMBAG" placeholder="Unesi JMBAG" th:field="*{JMBAG}"/>
                    <div th:if="${#fields.hasErrors('JMBAG')}" th:errors="*{JMBAG}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input type="password" class="form-control" id="password" placeholder="Unesi lozinku" th:field="*{password}"/>
                    <div class="form-text text-muted">Ukoliko želite promijeniti lozinku, dovoljno je unjeti novu lozinku u ovo polje.</div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="role">Uloga</label>
                    <select th:field="*{role}" id="role" class="form-control">
                        <option value="">Odaberi</option>
                        <option th:each="roleItem : ${roles}" th:value="${roleItem.value}" th:text="${roleItem.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userGroup">Laboratorijska grupa</label>
            <select th:field="*{userGroupIds}" id="userGroup" class="form-control" multiple="multiple'">
                <option th:each="userGroupItem : ${userGroups}" th:value="${userGroupItem.id}" th:text="${userGroupItem.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('userGroupIds')}" th:errors="*{userGroupIds}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</div>
</body>
</html>
