<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Studenti | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>
        Studenti
        <a th:href="@{/create_user}" class="btn btn-primary">Dodaj</a>
        <a th:href="@{/create_user_bulk}" class="btn btn-primary">Masovno dodavanje</a>
    </h1>
    <table class="table" th:if="${users.size() > 0}">
        <thead class="thead-default">
            <tr>
                <th>Ime i prezime</th>
                <th>JMBAG</th>
                <th>Uloga</th>
                <th>Laboratorijske grupe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.getFullName()}"></td>
                <td th:text="${user.JMBAG}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <span th:each="userGroup, itrStat : ${user.userGroups}">
                        <span th:text="${userGroup.name}"></span>
                        <span th:if="${itrStat.index != itrStat.size - 1}" th:remove="tag">,</span>
                    </span>
                </td>
                <td>
                    <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-secondary">Prikaz</a>
                    <a th:href="@{/edit_user/{id}(id=${user.id})}" class="btn btn-primary">Uredi</a>
                    <form th:action="@{/delete_user/{id}(id=${user.id})}" method="post" class="form-within-table form-inline" data-app="confirmSubmit">
                        <button type="submit" class="btn btn-danger">Izbriši</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 class="no-items-notice" th:if="${users.size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema dodanih studenata.
    </h4>
</div>
</body>
</html>
