<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Prikaz studenta | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <div class="card">
        <h3 class="card-header" th:inline="text">
            [[ ${user.getFullName()} ]] <a th:href="@{/edit_user/{id}(id=${user.id})}"
                                           class="btn btn-primary"
                                           sec:authorize="hasAuthority('ADMIN')">Uredi</a>
        </h3>
        <div class="card-block">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>JMBAG</th>
                        <th>Korisničko ime</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Uloga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${user.JMBAG}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.role}" sec:authorize="hasAuthority('ADMIN')"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Laboratorijska grupa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userGroup : ${user.userGroups}">
                        <td th:text = "${userGroup.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="card" th:if="${user.getUploads().size() > 0}">
        <h3 class="card-header">
            Rezultati
        </h3>
        <div class="card-block">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Zadatak</th>
                        <th>Neuspješni / uspješni testovi</th>
                        <th>Vrijeme</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="upload : ${user.getUploads()}">
                        <div th:if ="${upload.testResult} != null">
                            <td th:text="${upload.assignment.name}"></td>
                            <td class="test-status">
                                <span class="badge badge-danger" th:inline="text">[[ ${upload.testResult.testsFailed} ]] neuspješno</span>
                                <span class="badge badge-success" th:inline="text">[[ ${upload.testResult.testsSuccessful} ]] uspješno</span>
                            </td>
                            <td th:text="${#calendars.format(upload.testResult.getCalendarTime(), 'dd. MM. yyyy. HH:mm')}"></td>
                            <td>
                                <a href="#" class="btn btn-primary" data-app="testResultsModal" th:attr="data-id=${upload.testResult.id}" th:if="${upload.testResult.testsFailed} != 0">
                                    Pogledaj rezultate
                                </a>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 class="no-items-notice" th:if="${user.getUploads().size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema rezultata.
    </h4>
</div>
<div id="footer-content">
    <div th:include="fragments/testResultsModal :: content"></div>
</div>
</body>
</html>
