<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Greška | Astra</title>
</head>
<body th:include="fragments/layout :: body">
	<div id="main">
        <h1 class="display-3">
            <span class="badge badge-danger" th:text="${status}"></span>
            <span th:text="${error}"></span>
        </h1>
        <p class="lead">
            Uvijek se možete vratiti na <a href="/" th:href="@{/}">početnu</a>.
        </p>
        <div th:if="${@environment.getActiveProfiles()[0] == 'dev'}">
            <p>
                <strong th:text="${message}"></strong>
            </p>
            <div id="created" th:text="${#dates.format(timestamp)}"></div>
        </div>
	</div>
</body>
</html>
