<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Početna | Astra</title>
</head>
<body th:include="fragments/layout :: body">
	<div id="main">
		<div class="jumbotron">
			<h1 class="display-3">Astra &mdash; šnog labosa!</h1>
			<p class="lead">
                S Astrom imate priliku provjeriti svoja rješenja laboratorijskih vježbi prije predaje.
            </p>
			<div th:remove="tag" th:if="${#httpServletRequest.remoteUser == null}" >
				<hr />
				<p class="lead">
					<a class="btn btn-primary btn-lg" th:href="@{/login}" href="/login" role="button">Prijavi se</a>
					ili
					<a href="/registration" th:href="@{/registration}">stvori račun</a>
				</p>
			</div>
		</div>
        <div th:if="${exercises}!=null and ${exercises.size()} > 0">
            <h2>Aktivne laboratorijske vježbe</h2>
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Ime</th>
                        <th>Datum završetka</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercise : ${exercises}">
                        <td th:text="${exercise.name}"></td>
                        <td th:text="${#calendars.format(exercise.getCalendarEndTime(), 'd. M. Y.')}"></td>
                        <td>
                            <a th:href="@{/exercise/{id}(id=${exercise.id})}" class="btn btn-secondary">Prikaz</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 th:if="${exercises}!=null and ${exercises.size() == 0}">
            <div class="badge badge-info">napomena</div>
            Trenutno nema aktivnih laboratorijskih vježbi.
        </h4>
	</div>
</body>
</html>
