<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Registracija | Astra</title>
</head>
<body th:include="fragments/layout :: body">
    <div id="main">
		<div th:text = "${errorMessage}"></div>
		<form th:action="@{/registration}" method="post">
			<div class="form-group">
				<label for="firstName">Ime</label>
				<input type="text" class="form-control" id="firstName" placeholder="Unesi ime" name="firstName"/>
			</div>
			<div class="form-group">
				<label for="lastName">Prezime</label>
				<input type="text" class="form-control" id="lastName" placeholder="Unesi prezime" name="lastName"/>
			</div>
			<div class="form-group">
				<label for="JMBAG">JMBAG</label>
				<input type="text" class="form-control" id="JMBAG" placeholder="Unesi JMBAG" name="JMBAG"/>
			</div>
			<div class="form-group">
				<label for="username">Korisničko ime</label>
				<input type="text" class="form-control" id="username" placeholder="Unesi korisničko ime" name="username"/>
			</div>
			<div class="form-group">
				<label for="password">Lozinka</label>
				<input type="password" class="form-control" id="password" placeholder="Unesi lozinku" name="password"/>
			</div>
			<button type="submit" class="btn btn-primary">Registracija</button>
		</form>
    </div>
</body>
</html>
