<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Pregled izvornog koda | Astra</title>
</head>
<body th:include="fragments/layout :: body">
    <div id="main">
        <h1>Izvorni kod</h1>
        <div class="row" data-app="sourceCodeViewer">
            <div class="col col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                       th:each="uploadSourceEntry : ${upload.uploadSourceEntries}"
                       th:attr="data-id=${uploadSourceEntry.id}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${uploadSourceEntry.filename}"></h5>
                        </div>
                        <p class="mb-1" th:text="${uploadSourceEntry.relativePath}"></p>
                    </a>
                </div>
            </div>
            <div class="col col-md-8">
                <pre><code class="source-code"></code></pre>
            </div>
        </div>
    </div>
</body>
</html>
