@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

.main {
    padding: 20px 10px;
}

.navbar {
    margin: 20px 0 0;
}

#messages {
    margin: 10px 0;
}

.form-within-table, .form-inline  {
    display: inline-block;
}

.test-status {
    font-weight: 700;
}
.method-body, .source-code {
    padding: 30px;
}

.hidden { display: none }

.nav-item.active {
    box-shadow: 0 3px 0 0 #fff;
}

.no-items-notice {
    margin-top: 30px;
}