<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Uredi laboratorijsku vježbu | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Uredi laboratorijsku vježbu</h1>
    <form th:action="@{/edit_exercise/{id}(id=${id})}" th:object="${exerciseForm}" method="post">
        <div class="form-group">
            <label for="name">Ime</label>
            <input type="text" class="form-control" id="name" placeholder="Unesi ime" th:field="*{name}"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="beginTime">Datum početka</label>
                    <input type="text" class="form-control" id="beginTime" name="beginTime" data-app="calendarField"  th:field="*{beginTime}"/>
                    <div th:if="${#fields.hasErrors('beginTime')}" th:errors="*{beginTime}"></div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="endTime">Datum završetka</label>
                    <input type="text" class="form-control" id="endTime" name="endTime" data-app="calendarField"  th:field="*{endTime}"/>
                    <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userGroup">Laboratorijska grupa</label>
            <select th:field="*{userGroupIds}" id="userGroup" class="form-control" multiple="multiple">
                <option th:each="userGroupItem : ${userGroups}" th:value="${userGroupItem.id}" th:text="${userGroupItem.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('userGroupIds')}" th:errors="*{userGroupIds}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</div>
</body>
</html>
