<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Laboratorijske vježbe| Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <h1>Laboratorijske vježbe <a th:href="@{/create_exercise}" class="btn btn-primary">Dodaj</a></h1>
    <table class="table" th:if="${exercises.size()} > 0">
        <thead class="thead-default">
           <tr>
               <th>Ime</th>
               <th></th>
           </tr>
        </thead>
        <tbody>
            <tr th:each="exercise: ${exercises}">
                <td th:text="${exercise.name}"></td>
                <td>
                    <a th:href="@{/exercise/{id}(id=${exercise.id})}" class="btn btn-secondary">Prikaz</a>
                    <a th:href="@{/edit_exercise/{id}(id=${exercise.id})}" class="btn btn-primary">Uredi</a>
                    <form th:action="@{/delete_exercise/{id}(id=${exercise.id})}" method="post" class="form-within-table form-inline" data-app="confirmSubmit">
                        <button type="submit" class="btn btn-danger">Izbriši</button>
                    </form>
                    <a th:href="@{/create_assignment?exerciseId={id}(id=${exercise.id})}" class="btn btn-link">Dodaj zadatak</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 class="no-items-notice" th:if="${exercises.size() == 0}">
        <div class="badge badge-info">napomena</div>
        Trenutno nema dodanih laboratorijskih vježbi.
    </h4>
</div>
</body>
</html>
