<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle"><span th:text="${exercise.name}" th:remove="tag"></span> | Astra</title>
</head>
<body th:include="fragments/layout :: body">
<div id="main">
    <div class="card">
        <h3 class="card-header" th:inline="text">
            [[ ${exercise.name} ]]
            <a th:href="@{/edit_exercise/{id}(id=${exercise.id})}"
               class="btn btn-primary"
               sec:authorize="hasAuthority('ADMIN')">Uredi</a>
            <a th:href="@{/create_assignment?exerciseId={id}(id=${exercise.id})}"
               class="btn btn-primary"
               sec:authorize="hasAuthority('ADMIN')">Dodaj zadatak</a>
        </h3>
        <div class="card-block">
            <div th:remove="tag" th:if="${exercise.getAssignments().size() > 0}">
                <h3>Zadaci</h3>
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>Ime</th>
                            <th>Opis</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assignment : ${exercise.getAssignments()}">
                            <td th:text="${assignment.name}"></td>
                            <td th:text="${assignment.description}"></td>
                            <td>
                                <a th:href="@{/assignment/{id}(id=${assignment.id})}" class="btn btn-secondary">
                                    Prikaz
                                </a>
                                <a href="#" th:href="@{/upload/{id}(id=${assignment.id})}" class="btn btn-primary">
                                    Prenesi rješenje
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="no-items-notice" th:if="${exercise.getAssignments().size() == 0}">
                <div class="badge badge-info">napomena</div>
                Trenutno nema dodanih zadataka.
            </h4>
        </div>
    </div>

</div>
</body>
</html>
